snippet pl
    println!("${1}");

snippet test
    #[test]
    fn test_${1}() {
        ${0}
    }

snippet testmod
    #[cfg(test)]
    mod tests {
        use super::*;

        fn test_${1}() {
            ${0}
        }
    }
