snippet pl
	fmt.Println(${0})

snippet ife
	if err != nil {
		${1|return err,return nil\, err|}
	}
	${2}

snippet fori
	for ${2:i} := 0; $2 < ${1:count}; $2${3:++} {
		${0}
	}

snippet test
	func Test${1:A}(t *testing.T) {
		${0}
	}
