snippet pl "println!"
    println!("${1}");
snippet test "Unit test function"
    #[test]
    fn test_${1:function_name}() {
        ${0}
    }
snippet testmod "Test module" b
    #[cfg(test)]
    mod tests {
        use super::*;

        fn test_${1:function_name}() {
            ${0}
        }
    }
